language: python
python:
    - "3.3"
    - "3.4"
    - "3.5"
    - "3.6"
    - "nightly"
install:
    - pip install -r requirements.txt
    - pip install coveralls codecov
script:
    - git fetch --unshallow
    - coverage run setup.py test
after_success:
    - coveralls
    - codecov
